[buildout]
develop = .
parts = test interpreter
extensions = zc.buildoutsftp

[test]
recipe = zc.recipe.testrunner
eggs = manuel
defaults = '--tests-pattern tests --exit-with-status -1 --auto-color'.split()
working-directory = .

[interpreter]
recipe = zc.recipe.egg
eggs = manuel
interpreter = py
