[buildout]
develop = .
parts = test interpreter
allow-picked-versions = false
use-dependency-links = false
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = manuel
defaults = '--tests-pattern tests --exit-with-status -1 --auto-color'.split()
working-directory = .

[interpreter]
recipe = zc.recipe.egg
eggs = manuel
interpreter = py

[versions]
setuptools = 0.6c9
zc.buildout = 1.2.1
zc.recipe.egg = 1.2.2
zc.recipe.testrunner = 1.2.0
zope.interface = 3.5.1
zope.testing = 3.7.4
